    :root {
      --error-color: hsl(4, 100%, 67%);
      --dark-slate-grey: hsl(234, 29%, 20%);
      --charcoal-grey: hsl(235, 18%, 26%);
      --grey: hsl(231, 7%, 60%);
      --white: hsl(0, 0%, 100%);

      --linear-gradient-hover-btn: linear-gradient(90deg, rgba(255,83,121,1) 0%, rgba(255,104,61,1) 100%);


      font-family: 'Roboto', sans-serif;
      font-family: 'Space Grotesk', sans-serif;
    }
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html {
      font-size: 62.5%;
    }
    body {
      min-height: 100vh;
      font-size: 1.6rem;
      font-weight: 400;
      background-color: var(--charcoal-grey);
    }
    .main-container {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-width: 375px;
      min-height: 100vh;

      background-color: var(--white);
    }
    .image {
      flex: 1;
      flex-basis: 30%;

      width: 100%;
      min-height: 25rem;

      background-image: url("./../images/illustration-sign-up-mobile.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
      border-radius: 0 0 2.4rem 2.4rem;
    }
    .newslater {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-basis: 70%;
      padding: 3.6rem 1.6rem;
    }
    .newslater__title, .tanks__title {
      font-size: 5rem;
      font-weight: 700;
      color: var(--dark-slate-grey);
    }
    .newslater__description {
      margin-top: 2.6rem;
    }
    .newslater-list {
      margin-top: 1.6rem;
    }
    .newslater-list__item {
      margin-top: 1.6rem;
    }
    .newslater-list__item::before {
      content: url("./../images/icon-list.svg");
      padding: 0 .6rem 0 0;
      vertical-align: middle;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      flex: 1;
      margin-top: 2.6rem;
    }
    .form__label {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
    }
    
    .form__input, .primary-button {
      width: 100%;
      height: auto;
      padding: 2rem;
      border-radius: .8rem;
      margin-top: .6rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
    .form__input {
      color: var(--grey);
      border: 1px solid var(--grey);
    }
    .primary-button {
      margin-top: auto;
      margin-bottom: 1.6rem;
      color: var(--white);
      background-color: var(--dark-slate-grey);
      cursor: pointer;
    }
    .primary-button:hover {
      background: var(--linear-gradient-hover-btn);
      border: 1px solid var(--error-color);
      box-shadow: 0px 3px 19px -1px rgba(255,97,86,0.75);
      transition: 0.3s;
    }
    .primary-button:active {
      transform: scale(1.015);
      transition: 0.3s;
    }
    .tanks-subscribe {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2.4rem;
      

      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;

      background-color: var(--white);
      padding: 1.6rem;
      
    }
    .tanks__image {
      width: 6.4rem;
      height: 6.4rem;
      margin-top: 3.6rem;

    }
    .tanks__text {
      line-height: 2.6rem;
    }
    .attribution {
      color: var(--white);
      padding: .8rem;
      text-align: center;
    }
    .attribution a {
      color: var(--grey);
    }

    .d-none {
      display: none;
    }
    .overflow-hidden {
      overflow: hidden;
    }
    .input--error {
      color: var(--error-color);
      border: solid 1px var(--error-color);
      background-color: hsl(4, 100%, 95%);
    }
    .input--error::placeholder {
      color: var(--error-color);
    }
    .msg--error {
      color: var(--error-color);
    }
    
    @media screen and (min-width: 1024px) {
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.4rem;
      }
      .main-container {
        flex-direction: row-reverse;
        max-width: 70%;
        min-height: fit-content;
        margin-top: auto;
        padding: 2.4rem;
        border-radius: 2.4rem;
      }
      .image {
        background-image: url("../images/illustration-sign-up-desktop.svg");
        height: auto;
        max-width: 40rem;
        flex-basis: 45%;
        border-radius: 2.4rem;
      }
      .newslater {
        flex-basis: 55%;
        padding: 4.6rem 3.6rem 0;
      }
      .newslater__title {
        margin-top: 2.8rem;
      }
      .primary-button {
        margin-top: 0;
      }
      .tanks-subscribe {
        position: static;
        max-width: 50rem;
        border-radius: 2.4rem;
        margin-top: auto;
        padding: 3.8rem;
      }
      .tanks__image {
        margin-top: 0;
      }
      .attribution {
        margin: 0;
        padding: 1.6rem 0;
      }
    }
    @media screen and (min-width: 1200px) {
      body{
        padding: 0;
      }
      .image {
        height: 53.9rem;
      }
      .newslater {
        padding: 4.6rem 5.6rem 0;
      }
    }